<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil - Mon Projet Symfony</title>
</head>
<body>
<h1>Bienvenue sur la page d’accueil Symfony !</h1>
<p>Ceci est la homepage de votre projet Symfony.</p>
</body>
</html>
